.d {
    text-align: center;
}

.c {
    display: inline-block;
    margin-top: 20px;
}

.reset-btn {
    background-color: #3498db;
    color: #fff;
    font:bolder;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

